public/app/code/community/Gemgento/Catalog/etc/wsdl.xml

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns:typens="urn:Magento" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns="http://schemas.xmlsoap.org/wsdl/" name="Magento" targetNamespace="urn:Magento">
    <types>
        <schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:Magento">
            <import namespace="http://schemas.xmlsoap.org/soap/encoding/" schemaLocation="http://schemas.xmlsoap.org/soap/encoding/"/>
            <complexType name="catalogAssignedProduct">
                <all>
                    <element name="product_id" type="xsd:int"/>
                    <element name="type" type="xsd:string"/>
                    <element name="set" type="xsd:int"/>
                    <element name="sku" type="xsd:string"/>
                    <element name="position" type="xsd:string"/>
                </all>
            </complexType>
            <complexType name="catalogAssignedProductArray">
                <complexContent>
                    <restriction base="soapenc:Array">
                        <attribute ref="soapenc:arrayType" wsdl:arrayType="typens:catalogAssignedProduct[]"/>
                    </restriction>
                </complexContent>
            </complexType>
            <complexType name="catalogCategoryInfo">
                <all>
                    <element name="category_id" type="xsd:string"/>
                    <element name="is_active" type="xsd:int"/>
                    <element name="position" type="xsd:string"/>
                    <element name="level" type="xsd:string"/>
                    <element name="parent_id" type="xsd:string"/>
                    <element name="all_children" type="xsd:string"/>
                    <element name="children" type="xsd:string"/>
                    <element name="created_at" type="xsd:string" minOccurs="0"/>
                    <element name="updated_at" type="xsd:string" minOccurs="0"/>
                    <element name="name" type="xsd:string" minOccurs="0"/>
                    <element name="url_key" type="xsd:string" minOccurs="0"/>
                    <element name="description" type="xsd:string" minOccurs="0"/>
                    <element name="meta_title" type="xsd:string" minOccurs="0"/>
                    <element name="meta_keywords" type="xsd:string" minOccurs="0"/>
                    <element name="meta_description" type="xsd:string" minOccurs="0"/>
                    <element name="path" type="xsd:string" minOccurs="0"/>
                    <element name="url_path" type="xsd:string" minOccurs="0"/>
                    <element name="children_count" type="xsd:int" minOccurs="0"/>
                    <element name="display_mode" type="xsd:string" minOccurs="0"/>
                    <element name="is_anchor" type="xsd:int" minOccurs="0"/>
                    <element name="available_sort_by" type="typens:ArrayOfString" minOccurs="0"/>
                    <element name="custom_design" type="xsd:string" minOccurs="0"/>
                    <element name="custom_design_apply" type="xsd:string" minOccurs="0"/>
                    <element name="custom_design_from" type="xsd:string" minOccurs="0"/>
                    <element name="custom_design_to" type="xsd:string" minOccurs="0"/>
                    <element name="page_layout" type="xsd:string" minOccurs="0"/>
                    <element name="custom_layout_update" type="xsd:string" minOccurs="0"/>
                    <element name="default_sort_by" type="xsd:string" minOccurs="0"/>
                    <element name="landing_page" type="xsd:int" minOccurs="0"/>
                    <element name="image" type="xsd:string" minOccurs="0"/>
                    <element name="include_in_menu" type="xsd:string" minOccurs="0"/>
                </all>
            </complexType>
            
            <complexType name="categoryProductPositionEntityArray">
                <complexContent>
                    <restriction base="soapenc:Array">
                        <attribute ref="soapenc:arrayType" wsdl:arrayType="typens:categoryProductPositionEntity[]"/>
                    </restriction>
                </complexContent>
            </complexType>
            <complexType name="categoryProductPositionEntity">
                <all>
                    <element name="productId" type="xsd:ind" />
                    <element name="position" type="xsd:int"/>
                </all>
            </complexType>
        </schema>
    </types>
    
    <message name="catalogCategoryUpdateProductPositionsRequest">
        <part name="sessionId" type="xsd:string"/>
        <part name="categoryId" type="xsd:int" />
        <part name="productPositions" type="typens:categoryProductPositionEntityArray"/>
        <part name="storeId" type="xsd:int" />
    </message>
    <message name="catalogCategoryUpdateProductPositionsResponse">
        <part name="response" type="xsd:boolean" />
    </message>
    
    <portType name="{{var wsdl.handler}}PortType">
        <operation name="catalogCategoryUpdateProductPositions">
            <documentation>Update category product positions.</documentation>
            <input message="typens:catalogCategoryUpdateProductPositionsRequest" />
            <output message="typens:catalogCategoryUpdateProductPositionsResponse" />
        </operation>
    </portType>
    
    <binding name="{{var wsdl.handler}}Binding" type="typens:{{var wsdl.handler}}PortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http" />
        <operation name="catalogCategoryUpdateProductPositions">
            <soap:operation soapAction="urn:{{var wsdl.handler}}Action" />
            <input>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </input>
            <output>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </output>
        </operation>
    </binding>
</definitions> 
